*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Estilos globales */
body {
    background-image: url("../image/marco-ingredientes-alimentarios.jpg");
    background-size: cover;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100%;
  }
  @font-face {
    font-family: "Olivia";
    src: url("../font/Olivia.ttf");
  }
  .cuenta{
    background-color: #ffa9ba;
    text-align: right;
    font-size: smaller;
  }
  .head-logo{
    text-align: center;
    height: 8vh;
    width: 4vw;

  }
  .menu{
    font-family: "Roboto";
    text-align: center;
  }
  .video{
    text-align: center;
  }
  .section-1{
    text-align: center;
  }
  .logo{
    height: 50px;
    width: 50px;
  }
  .sub-title{
    display: inline-block;
    border: solid #fcfafa;
    border-radius: 10px;
    padding: 10px;
  }
  
  h1, h2, h3, p {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  img {
    max-width: 50%;
  }
  nav {
    background-color: #f78da7;
    padding: 10px;
    background-size: cover;
  }
  nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    width: 20%;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  header{
    background-size: cover;
    background-position: center;
  }
  /*.goUp{
    height: 8vh;
    width: 4vw;
    bottom: 10px;
    position: fixed;
    left: 10px;
  }*/
  .footer-menu{
    text-align: center;
    font-family: "Roboto";
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f78da7;
  }
  footer h3{
    text-align: right;
  }
  .pasteles{
    text-align: center;
  }
  .welcome-title{
    font-family: "olivia";
    font-weight: 200;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  div p{
    padding: 10px;
    border: solid #f78da7;
    border-radius: 10px;
    width: 30%;
    height: 20%;
    margin-left: 35%;
  }